<%# カード（コンテンツボックス）を表示する共通パーシャル %>
<%# @param title [String] カードのタイトル（省略可） %>
<%# @param content_html [String] カードの内容（HTML） %>
<%# @param footer_html [String] カードのフッター（省略可） %>
<%# @param html_options [Hash] HTML属性（class: "...", id: "..." など） %>

<div class="card <%= html_options[:class] %>" <%= html_options.except(:class).map { |k, v| "#{k}=\"#{v}\"" }.join(' ').html_safe %>>
  <% if title.present? %>
    <div class="card__header">
      <h3 class="card__title"><%= title %></h3>
    </div>
  <% end %>
  
  <div class="card__body">
    <%= content_html.html_safe %>
  </div>
  
  <% if footer_html.present? %>
    <div class="card__footer">
      <%= footer_html.html_safe %>
    </div>
  <% end %>
</div> 